In [1]:
import pandas as pd
import sqlite3
import numpy as np

In [2]:
df = pd.read_csv("dataset/insurance_claims.csv")
df.head()

,months_as_customer,age,policy_number,policy_bind_date,policy_state,policy_csl,policy_deductable,policy_annual_premium,umbrella_limit,insured_zip,...,police_report_available,total_claim_amount,injury_claim,property_claim,vehicle_claim,auto_make,auto_model,auto_year,fraud_reported,_c39
0,328,48,521585,2014-10-17,OH,250/500,1000,1406.91,0,466132,...,YES,71610,6510,13020,52080,Saab,92x,2004,Y,NaN
1,228,42,342868,2006-06-27,IN,250/500,2000,1197.22,5000000,468176,...,?,5070,780,780,3510,Mercedes,E400,2007,Y,NaN
2,134,29,687698,2000-09-06,OH,100/300,2000,1413.14,5000000,430632,...,NO,34650,7700,3850,23100,Dodge,RAM,2007,N,NaN
3,256,41,227811,1990-05-25,IL,250/500,2000,1415.74,6000000,608117,...,NO,63400,6340,6340,50720,Chevrolet,Tahoe,2014,Y,NaN
4,228,44,367455,2014-06-06,IL,500/1000,1000,1583.91,6000000,610706,...,NO,6500,1300,650,4550,Accura,RSX,2009,N,NaN

In [3]:
conn = sqlite3.connect("claims.db")
df.to_sql("claims", conn, if_exists="replace", index=False)
conn.close()

In [4]:
conn = sqlite3.connect("claims.db")
query = "PRAGMA table_info(claims);"
schema = pd.read_sql_query(query, conn)
conn.close()
schema

    cid                         name     type  notnull dflt_value  pk
0     0           months_as_customer  INTEGER        0       None   0
1     1                          age  INTEGER        0       None   0
2     2                policy_number  INTEGER        0       None   0
3     3             policy_bind_date     TEXT        0       None   0
4     4                 policy_state     TEXT        0       None   0
5     5                   policy_csl     TEXT        0       None   0
6     6            policy_deductable  INTEGER        0       None   0
7     7        policy_annual_premium     REAL        0       None   0
8     8               umbrella_limit  INTEGER        0       None   0
9     9                  insured_zip  INTEGER        0       None   0
10   10                  insured_sex     TEXT        0       None   0
11   11      insured_education_level     TEXT        0       None   0
12   12           insured_occupation     TEXT        0       None   0
13   13              insured_hobbies     TEXT        0       None   0
14   14         insured_relationship     TEXT        0       None   0
15   15                capital-gains  INTEGER        0       None   0
16   16                 capital-loss  INTEGER        0       None   0
17   17                incident_date     TEXT        0       None   0
18   18                incident_type     TEXT        0       None   0
19   19               collision_type     TEXT        0       None   0
20   20            incident_severity     TEXT        0       None   0
21   21        authorities_contacted     TEXT        0       None   0
22   22               incident_state     TEXT        0       None   0
23   23                incident_city     TEXT        0       None   0
24   24            incident_location     TEXT        0       None   0
25   25     incident_hour_of_the_day  INTEGER        0       None   0
26   26  number_of_vehicles_involved  INTEGER        0       None   0
27   27              property_damage     TEXT        0       None   0
28   28              bodily_injuries  INTEGER        0       None   0
29   29                    witnesses  INTEGER        0       None   0
30   30      police_report_available     TEXT        0       None   0
31   31           total_claim_amount  INTEGER        0       None   0
32   32                 injury_claim  INTEGER        0       None   0
33   33               property_claim  INTEGER        0       None   0
34   34                vehicle_claim  INTEGER        0       None   0
35   35                    auto_make     TEXT        0       None   0
36   36                   auto_model     TEXT        0       None   0
37   37                    auto_year  INTEGER        0       None   0
38   38               fraud_reported     TEXT        0       None   0
39   39                         _c39     REAL        0       None   0